                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-4 titulo-container">
                              <h1 class="h3 heading-section titulo">Información de la empresa</h1>
                            </div>

                        <!--CARDS -->
                       <div class="container">
        				<form action="#">
        					<div class="user-details">
        						<div class="input-box">
        							<span class="details">Nit empresa</span>
        							<input type="number" placeholder="NIT" required>
        						</div>

        						<div class="input-box">
        							<span class="details">Número documento</span>
        							<input type="text" placeholder="Ingrese identificación" required>
        						</div>

        						<div class="input-box">
        							<span class="details">Razón social empresa</span>
        							<input type="number" placeholder="Razón social" required>
        						</div>

        						<div class="input-box">
        							<span class="details">Departamento</span>
        							<input type="text" placeholder="Departamento" required>
        						</div>
        						<div class="input-box">
        							<span class="details">Dirección de la empresa</span>
        							<input type="text" placeholder="Dirección" required>
        						</div>

        						<div class="input-box">
        							<span class="details">Municipio/Ciudad</span>
        							<input type="text" placeholder="Municipio/Ciudad" required>
        						</div>

        						<div class="input-box">
        							<span class="details">Télefono de la empresa</span>
        							<input type="text" placeholder="Ingrese identificación" required>
        						</div>
        						<div class="input-box">
        							<span class="details">Contraseña</span>
        							<input type="text" placeholder="Ingrese la contraseña" required>
        						</div>
        						<div class="input-box">
        							<span class="details">Nombre representante legal</span>
        							<input type="text" placeholder="Ingrese el teléfono" required>
        						</div>
        						<div class="input-box">
        							<span class="details">Correo</span>
        							<input type="text" placeholder="Ingrese el correo" required>
        						</div>
        						<div class="input-box">
        							<span class="details">Tipo documento</span>
        							<input type="number" placeholder="Representante legal empresa" required>
        						</div>
        					 </div>

        						<div class="buttom">
        							<input type="submit" value="Registrar">
        						</div>
        						
                                <div class="buttom2">
                                    <a href="inicioapp.html">Cancelar</a> 
                                </div>
        					</form>
        				  </div>