                    <!-- INICIO-->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                          <h1 class="h3 mb-0 heading-section">
                           <span style="color:#0077b6">Factu</span>
                           <span style="color:#00b4d8">Pyme</span>
                          </h1>
                        </div>

                    <!--CARDS -->
                        <div class="row">
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                        Empresa</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Super suelas</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="far fa-building icono"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>   
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                        Identificación (NIT)</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">254125</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="far fa-address-card icono"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                        Nombre representante</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Camila calderon</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-user icono"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-primary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                        Ciudad</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">Cucuta</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-city icono"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                   
                           
                        </div>
                     <!--end de cartas-->

                      <!--Inicio de parte de la empresa -->
                        <div class="col-lg-6">
                            <div class="card shadow mb-4">
                               <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Empresa</h6>
                                </div>
                                <div class="card-body">
                                   Configura la información de tu empresa y adapta FactuPyme 
                                   a tu negocio
                                   <a class="ancla" href="datos-fiscales-empresa.html">Empresa</a>
                                   <a class="ancla" href="">Usuarios</a>
                                   <a class="ancla" href="">Mi perfil</a>
                                </div>
                            </div>
                        </div>
                      <!--Fin de parte de la empresa -->
                    </div>
                    <!-- /FIN-->
