
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="title_client">Emitir factura</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <form action="#">
                <!--Inicio campos del cliente-->
                <div class="input-box-numeracion">
                    <span class="span_details">No.</span>
                    <input class="input_numeracion" type="text" name="ciudad" required>
                </div>

                <div class="input-box">
                    <span class="details">Número de documento</span>
                    <select class="select_opciones">
                        <option disabled selected>Buscar...</option>
                        <option> 1010044500</option>
                    </select>
                    <!--<input style="margin-left: 10px;" type="text" name="tipo_documento" required>-->
                </div>

                <div class="input-box">
                    <span class="details">Nombre</span>
                    <input style="margin-left: 13px;" type="text" name="nombre" required>
                </div>

                <div class="input-box">
                    <span class="details">Teléfono</span>
                    <input style="margin-left: 10px;" type="text" name="telefono" required>
                </div>

                <div class="input-box">
                    <span class="details">Correo</span>
                    <input style="margin-left: 24px;" type="text" name="correo" required>
                </div>

                <div class="input-box">
                    <span class="details">Ciudad</span>
                    <input style="margin-left: 23px;" type="text" name="ciudad" required>
                </div>
                <!--Fin campos del cliente-->    
                <hr>
                <!--Inicio tabla de agregar los productos-->    
                <div class="table-responsive">
                    <table #dataTable class="table table-bordered" id="tablaprueba" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>U/M</th>
                                <th>Vr. Unit.</th>
                                <th>% Dcto.</th>
                                <th>IVA</th>

                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select class="select_opciones">
                                        <option disabled selected>Buscar...</option>
                                        <option>A50</option>
                                    </select>
                                </td>
                                <td>AA</td>
                                <td>AA</td>
                                <td>AA</td>
                                <td>AA</td>
                                <td>AA</td>                    
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <button type="button" class="btn btn-edit" onclick="agregarFila()"><i class="fas fa-plus"></i>Agregar fila</button>
                        <button type="button" class="btn" onclick="eliminarFila()"><i class="fas fa-minus-circle"></i></button>
                    </div>
                </div>
                <!--Fin tabla de agregar los productos-->    
            </form>
        </div>
    </div>

</div>

<!-- /.container-fluid -->