<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="title_client">Emitir factura</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <form action="#">
                <!--Inicio tabla de agregar los productos-->
                <div class="table-responsive">
                    <table #dataTable class="table table-bordered" id="tablaprueba" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>U/M</th>
                                <th>Vr. Unit.</th>
                                <th>% Dcto.</th>
                                <th>IVA</th>

                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select class="select_opciones">
                                        <option disabled selected>Buscar...</option>
                                        <option>A50</option>
                                    </select>
                                </td>
                                <td>AA</td>
                                <td>AA</td>
                                <td>AA</td>
                                <td>AA</td>
                                <td>AA</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--Fin tabla de agregar los productos-->
                <div class="input-box">
                    <span class="details">Subtotal</span>
                    <input style="margin-left: 13px;" type="text" disabled>
                </div>
                <div class="input-box">
                    <span class="details">Total descuento</span>
                    <input style="margin-left: 13px;" type="text" disabled>
                </div>
                <div class="input-box">
                    <span class="details">Valor neto</span>
                    <input style="margin-left: 13px;" type="text" disabled>
                </div>
                <hr>
                <div class="input-box">
                    <span class="details">Total</span>
                    <input style="margin-left: 13px;" type="text" disabled>
                </div>
            </form>
        </div>
    </div>

</div>